<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!--
        Place "Internal Transfers" under Accounting ▶ Accounting,
        sequence=25 puts it after Payments (sequence=20).
    -->
    <menuitem
        id="menu_account_internal_transfer"
        name="Internal Transfers"
        parent="account.menu_finance_entries"
        action="action_account_internal_transfer"
        sequence="25"
        groups="account.group_account_user"/>
</odoo>
